h1 {
  font-size: 3rem;
  margin: 0 0.5em;
}

h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  margin-left: 25%;
  margin-right: 25%;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}