.Board {
  margin: 20px auto;
}

.startBtn {
  width: 120px;
  height: 30px;
  font-size: 16px;
  border-radius: 10px;
}

.counter {
  font-size: 30px;
  font-weight: bolder;
  margin-right: 70px;
}


@media only screen and (max-width: 600px) {
  .Board {
    margin: 20px;
  }
  .startBtn {
    font-size: 16px;
    border-radius: 10px;
  }
}