.Board {
  margin: 0 auto;
}

.startBtn {
  width: 150px;
  height: 35px;
  font-size: 20px;
  border-radius: 10px;
}


@media only screen and (max-width: 600px) {
  .Board {
    margin: 20px;
  }
  .startBtn {
    font-size: 16px;
    border-radius: 10px;
  }
}